* {
  font-family: "Inter", sans-serif;
  color: white;
}

body{
  background: linear-gradient(180deg, #000000 4.33%, #142807 33.33%, #000000 67.19%, #142807 100%);
  background-repeat: no-repeat;
}

.main-color{
  color: #61FF00;
}

.developer-color{
  color: #FF9900; 
}

.designer-color{
 color: #FF00D6;
}


/*  T E X T  */
h1{
  font-size: 3rem;
  font-weight: 600;
}

h2{
  font-size: 2.25rem;
  font-weight: 600;
}

#projects > h2{
  margin-bottom: 6.9vh;
}

#projects > h3{
  margin-bottom: 1.4vh;
}

#projects > p{
  margin-bottom:4.2vh;
}

.porto-detail > h4
{
  display: inline-block;
}

.porto-detail > a > p{
  opacity: 50%;
  color: #61FF00;
  margin: 0 0;
  display: inline;
}

.porto-detail > a{
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

.porto-detail > a:hover{
  text-decoration: underline;
  color: #61FF00;
}

span{
  font-weight: 600;
}

h1, h3, h4, p {
  margin-bottom:2.1vh;
}

#contact-me > a{
  color: #61FF00;
  font-weight: 600;
}

.porto-detail > p {
  width: 27.8vw;
  word-break: break-word;
  white-space: normal;
}

.porto-detail > h4{
 word-break: break-word;
 white-space: normal;
 width: 27.8vw;
}

/*  H E A D E R  */
header {
  padding: 4.2vh 4.9vw;
  background: linear-gradient(180deg, #000000 -5.47%, rgba(0, 0, 0, 0) 100%);
}

.logo > img {
  height: 5.6vh;
  width: 100%;
}

.logo:hover {
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.546));
}

.navbar-section > a {
  margin-left: 7vw;
  text-decoration: none;
  color: White;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.3s ease;
}

.navbar-section > a:hover,
.social-media > a > i:hover {
  color: #61ff00;
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.546));
}


/*  C O N T E N T  */
.dots-right {
  transform: scaleX(-1);
}

.dots-right, 
.dots-left
{
  opacity: 30%;
  height: 100vh;
  z-index: -5;
}

.content {
  margin: 0 4.9vw;
  margin-bottom: 13.8vh;
}

.box {
  border: 1px solid #4a5568;
  border-radius: 2vw;
  padding: 5vh 4.9vw;
  margin: 2.8vh;
  overflow: hidden;
}

#home > .box{
  margin: 0 9.8vw;
}

.photo-profile{
  height: 20.7vh;
  margin-bottom: 2.1vh;
}

.skill-designer, .skill-developer{
  width: fit-content;
  font-weight: 500;
  border-radius: 3.5vw;
  margin: 0 0.4vw;
  margin-bottom:1.4vh;
  background-color: white;
  color: black;
  font-size: 0.875rem;
}

.porto-list{
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 6.9vh;
  align-items: flex-start;
}

.porto-card{
  display: inline-block;
  margin-right: 2.5vw;
}

.porto-card > a > img{
  width: 27.8vw;
  filter: grayscale(100%);
  transition: all 0.3s ease;
  border-radius: 1.4vw;
  margin-bottom: 2.1vh;
}

.porto-card > a > img:hover{
  filter: none;
} 

.porto-skill{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  width: 27.8vw;
}

.porto-skill > p{
  display: inline-block;
  overflow: hidden;
} 

.skill-designer2, .skill-developer2{
  width: fit-content;
  font-weight: 500;
  border-radius: 3.5vw;
  margin: 0 0.4vw;
  padding: 0.2vh 0.9vw;
  margin-bottom:1.4vh;
  background-color: white;
  color: black;
  font-size: 0.875rem;
}

.porto-list, .porto-skill {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.porto-list::-webkit-scrollbar, .porto-skill::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

/* #projects{
  background-image: url(Assets/dots\ effect\ 3.svg);
  background-repeat: no-repeat;
} */

#contact-me{
  background-image: url(Assets/dots\ effect\ 1:2.svg);
}

/* F O O T E R */
footer{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -5.47%, #000000 100%);
  padding: 6.9vh;
}

.social-media > a > i{
  font-size: 1.7rem;
  transition: all 0.3s ease;
}

.social-media{
  margin: 0 1.4vw;
  display: inline-block;
}


/* R E S P O N S I V E */
 /* large screen  */


/* Small screens, laptops */
 @media only screen and (min-width: 769px)
 and (max-width: 1024px) {
  html{
    font-size: 16px;
  }

  .porto-card > a > img{
    width: 40vw;
    border-radius: 3vw;
  }

  .porto-skill,
  .porto-detail > p,
  .porto-detail > h4{
    width: 40vw;
  }

  .porto-card{
    margin-right: 4vw;
  }

  #home > .box
  {
    margin: 0 0;
  }

  .box{
    border-radius: 4vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
  }

  #experiences > .row{
    margin-left: 0;
    margin-right: 0;
  }

  /* #contact-me {
    background-image: none;
  } */

  .dots-left,
  .dots-right{
    height: 90vh;
  }

  h1{
    font-size: 2.8rem;
  }

  .photo-profile{
    height: 22vh;
  }
}


/* iPads, Tablets */
@media only screen 
  and (max-device-width: 768px) {
    html{
      font-size: 15px;
    }

    .porto-card > a > img{
      width: 50vw;
      border-radius: 3vw;
    }

    .porto-skill,
    .porto-detail > p,
    .porto-detail > h4{
      width: 50vw;
    }

    .porto-card{
      margin-right: 5vw;
    }


    #home > .box
    {
      margin: 0 0;
    }

    .box{
      border-radius: 4vw;
    }

    #experiences > .row{
      margin-left: 0;
      margin-right: 0;
    }

    /* #contact-me {
      background-image: none;
    } */

    .dots-left,
    .dots-right{
      height: 90vh;
    }

    h1{
      font-size: 2.6rem;
    }

    .photo-profile{
      height: 18vh;
    }
}


/* Mobile screen  */

@media only screen 
  and (max-device-width: 480px) {
    html{
      font-size: 12px;
    }

    .porto-card > a > img{
      width: 60vw;
      border-radius: 3vw;
    }

    .porto-skill,
    .porto-detail > p,
    .porto-detail > h4{
      width: 60vw;
    }

    .porto-card{
      margin-right: 6vw;
    }

    #home > .box
    {
      margin: 0 0;
    }

    .box{
      border-radius: 4vw;
    }

    #experiences > .row{
      margin-left: 0;
      margin-right: 0;
    }
/* 
    #contact-me {
      background-image: none;
    } */

    .dots-left,
    .dots-right{
      height: 90vh;
    }

    h1{
      font-size: 2.4rem;
    }

    .photo-profile{
      height: 15vh;
    }
}
