<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sherly Phangestu's Portfolio</title>
    <link rel="icon" href="../../Assets/Icon/Icon Sherly Phang.svg" />

    <!-- Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../Styles/style.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  </head>

  <body>
    <img class="dots-left position-absolute top-0 start-0" src="../../Assets/dots effect.svg" alt="" />
    <img class="dots-right position-absolute top-0 end-0" src="../../Assets/dots effect.svg" alt="" />

    <header class="d-flex mb-2 sticky-top">
      <div class="header-container"></div>
      <div class="me-auto">
        <a class="logo" href="../../index.html"><img src="../../Assets/Icon/Logo Sherly Phang.svg" alt="Logo Sherly Phang" /></a>
      </div>
      <div class="navbar-section align-middle">
        <a href="../../index.html">Home</a>
        <a href="#more-project-list">Projects</a>
        <a href="../../index.html">Experiences</a>
        <a href="#contact-me">Contact Me</a>
      </div>
    </header>

    <div class="content mt-lg-4 mb-5">
      <div id="project">
        <h6 class="main-color">Mobile Application (iOS)</h6>
        <h1 class="mb-1">Chamelure</h1>
        <h6 class="project-short-description">Digital Therapy for Amblyopia Children</h6>
      </div>
    </div>

    <div id="project-image-highlight" class="mb-5">
      <img src="../../Assets/porto/Chamelure Cover.png" alt="">
    </div>

    <div class="content" id="project-details">
      <div class="row row-cols-3 g-4">
        <div class="col">
          <h6 class="project-details-title">Work for</h6>
          <h6>Apple Developer Academy</h6>
        </div>
        <div class="col">
          <h6 class="project-details-title">Year</h6>
          <h6>2024</h6>
        </div>
        <div class="col">
          <h6 class="project-details-title">Deliverables</h6>
          <h6>Mobile Application (iOS)</h6>
        </div>
        <div class="col">
          <h6 class="project-details-title">Platform</h6>
          <h6>iPadOS</h6>
        </div>
        <div class="col-8">
          <h6 class="project-details-title">Technologies</h6>
          <div class="row">
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> UIKit</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Combine</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> LottieKit</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SpriteKit</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> GameplayKit</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftCharts</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftData</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CloudKit</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AVFoundation</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CoreML</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Vision</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CreateML</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode Cloud</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XcodeGen</p>
            <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
          </div>
        </div>
        <div class="col-12">
          <h6 class="project-details-title">Project Showcase</h6>
          <div class="">
            <a class="button-rounded d-block" href="" target="_blank"><p>View <span class="main-color">TestFlight</span> <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>
      </div>
    </div>

    <div class="content" id="project-description">
      <div class="row row-cols-2 g-4">

        <div class="col-4">
          <h3>Challenge</h3>
        </div>
        <div class="col-8">
          <p>Chamelure is an innovative eye therapy app designed to help children with amblyopia (lazy eye) engage in fun, interactive treatments that support vision improvement. Using adaptive and visually captivating experiences, Chamelure provides an alternative to traditional eye patch therapy, making treatment more enjoyable and less stigmatizing for children.</p>
        </div>

        <div class="col-4">
          <h3>Solution</h3>
        </div>
        <div class="col-8">
          <p>Chamelure is an innovative eye therapy app designed to help children with amblyopia (lazy eye) engage in fun, interactive treatments that support vision improvement. Using adaptive and visually captivating experiences, Chamelure provides an alternative to traditional eye patch therapy, making treatment more enjoyable and less stigmatizing for children.</p>
        </div>

      </div>
    </div>

    <div id="project-image-list" class="content mb-5">
      <div class="row row-cols-lg-2 row-cols-md-2 row-cols-1 g-lg-4 g-md-3 g-3">
        <img src="../../Assets/porto/Chamelure Cover.png" alt="">
        <img src="../../Assets/porto/Chamelure Cover.png" alt="">
        <img src="../../Assets/porto/Chamelure Cover.png" alt="">
        <img src="../../Assets/porto/Chamelure Cover.png" alt="">
      </div>
    </div>

    <div id="prev-next-project" class="content row justify-content-between">
      <a class="button-rounded d-block" href=""><i class="bi bi-arrow-left-circle-fill"></i> <p>Prev Work</p></a>
      <a class="button-rounded d-block" href=""><p>Next Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
    </div>

    <div id="more-project-list" class="content">
      <h3><span class="main-color" style="font-weight: 800">//</span> Dive Into More Projects</h3>
      <div class="porto-list">
        <div class="porto-card">
          <a href="chamelurePortoDetailsView.html">
            <img src="../../Assets/porto/Chamelure Cover.png" alt="">
          </a>
          <div class="porto-detail">
            <h4>Chamelure</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> UIKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Combine</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> LottieKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SpriteKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> GameplayKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftCharts</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftData</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CloudKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AVFoundation</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CoreML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Vision</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CreateML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode Cloud</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XcodeGen</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="chamelurePortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="tuneUpPortoDetailsView.html">
            <img src="../../Assets/porto/TuneUp Cover.png" alt="">
          </a>
          <div class="porto-detail">
            <h4>TuneUp</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Accelerate</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Signal Processing</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Fast Fourier Transform (FFT)</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AVFoundation</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="tuneUpPortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="">
            <img src="../../Assets/porto/WanDraw Cover.png" alt="">
          </a>
          <div class="porto-detail">
            <h4>WanDraw</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> UIKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> ARKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SceneKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href=""><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="">
            <img src="../../Assets/porto/Cooworka Cover.png" alt="">
          </a>
          <div class="porto-detail">
            <h4>Cooworka</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CloudKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AuthenticationServices</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> MapKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CoreLocation</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Combine</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href=""><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="vocaloomPortoDetailsView.html">
            <img src="../../Assets/porto/Vocaloom Cover.png" alt="">
          </a>
          <div class="porto-detail">
            <h4>Vocaloom</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> UIKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Combine</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AVFoundation</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Vision</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AVFAudio</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XcodeGen</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="vocaloomPortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="">
            <img src="../../Assets/porto/E-Learning BSLC Cover.png" alt="">
          </a>
          <div class="porto-detail">
            <h4>E-Learning Binus Student Learning Community</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> HTML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CSS</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> PHP</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href=""><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="">
            <img src="../../Assets/porto/KKP Cover.png" alt="">
          </a>
          <div class="porto-detail">
            <h4>KKP Sutopo Insja</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> HTML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CSS</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Wordpress</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Elementor</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href=""><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="">
            <img src="../../Assets/porto/KAP Cover.png" alt="">
          </a>
          <div class="porto-detail">
            <h4>KAP Sutopo Insja</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> HTML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CSS</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Wordpress</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Elementor</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href=""><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>
      </div>
    </div>


    <div class="content text-center" id="contact-me">
      <h2>Get in touch</h2>
      <p style="margin: 0 0;">For business inquiry please send email to</p>
      <a href="mailto: phangestusherly@gmail.com" target="_blank">phangestusherly@gmail.com</a>
    </div>

    <footer class="text-center">
      <div class="social-media">
        <a href="mailto: phangestusherly@gmail.com" target="_blank">
          <i class="bi bi-envelope-fill"></i>
        </a>
      </div>

      <div class="social-media">
        <a href="https://www.linkedin.com/in/sherly-phangestu/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>

      <div class="social-media">
        <a href="https://github.com/sherlyphangestu" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </div>
      
    </footer>
    </body>
</html>