<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TuneUp Project • Sherly Phangestu's Portfolio</title>
    <link rel="icon" href="../../Assets/Icon/Icon Sherly Phang.svg" />

    <!-- Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../Styles/style.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- Animation -->
      <!-- cssanimation.io -->
      <link href="https://cdn.jsdelivr.net/gh/yesiamrocks/cssanimation.io@1.0.3/cssanimation.min.css" rel="stylesheet">

  </head>

  <body>
    <div class="dots-box">
      <img class="dots-left position-absolute top-0" src="../../Assets/dots effect.svg" alt="" />
      <img class="dots-right position-absolute top-0" src="../../Assets/dots effect.svg" alt="" />
    </div>

    <header class="d-flex mb-2 sticky-top">
      <div class="header-container"></div>
      <div class="me-auto">
        <a class="logo" href="../../index.html"><img src="../../Assets/Icon/Logo Sherly Phang.svg" alt="Logo Sherly Phang" /></a>
      </div>
      <div class="navbar-section align-middle">
        <a href="../../index.html">Home</a>
        <a href="#more-project-list">Projects</a>
        <a href="../../index.html">Experiences</a>
        <a href="#contact-me">Contact Me</a>
      </div>
    </header>

    <div class="content mt-lg-4 mb-5" data-scrolly-down="fadeIn" data-scrolly-top="fadeIn">
      <div id="project">
        <h6 class="main-color">Apple Watch Application</h6>
        <h1 class="mb-1">TuneUp</h1>
        <h6 class="project-short-description">Perfect Tuning, Right on Your Wrist</h6>
      </div>
    </div>

    <div id="project-image-highlight" class="mb-5" data-scrolly-down="fadeInBottom" data-scrolly-top="fadeIn">
      <img src="../../Assets/porto/TuneUp/TuneUp Image Highlight.webp" alt="">
    </div>

    <div class="content" id="project-details" data-scrolly-down="fadeInBottom" data-scrolly-top="fadeIn">
      <div class="row row-cols-3 g-4">
        <div class="col">
          <h6 class="project-details-title">Work for</h6>
          <h6>Apple Developer Academy Project</h6>
        </div>
        <div class="col">
          <h6 class="project-details-title">Year</h6>
          <h6>2024</h6>
        </div>
        <div class="col">
          <h6 class="project-details-title">Deliverables</h6>
          <h6>Apple Watch Application</h6>
        </div>
        <div class="col">
          <h6 class="project-details-title">Platform</h6>
          <h6>Apple Watch</h6>
        </div>
        <div class="col-8">
          <h6 class="project-details-title">Technologies</h6>
          <div class="row">
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Accelerate</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Signal Processing</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Fast Fourier Transform (FFT)</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AVFoundation</p>
            <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
            <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
          </div>
        </div>
      </div>
    </div>

    <div class="content" id="project-description" data-scrolly-down="fadeInBottom" data-scrolly-top="fadeIn">
      <div class="row row-cols-lg-2 row-cols-md-1 row-cols-1 g-lg-4 g-md-0 g-sm-0">

        <div class="col-lg-4">
          <h3>Outline</h3>
        </div>
        <div class="col-lg-8">
          <p>With TuneUp, tuning your ukulele has never been easier or more precise—whether you're at home, on stage, or practicing on the go.
            Available on your Apple Watch, the app uses advanced signal processing and FFT (Fast Fourier Transform) to ensure each string is tuned to the perfect pitch.
            Through a user-friendly interface and intuitive wrist-based feedback, subtle haptic vibrations guide you throughout the process, signaling when adjustments are needed and confirming when the perfect pitch is achieved.
            This seamless combination of convenience and accuracy makes tuning intuitive and effortless for musicians of all levels.</p>
        </div>

      </div>
    </div>

    <div id="prev-next-project" class="content row justify-content-between" data-scrolly-down="fadeInBottom" data-scrolly-top="fadeIn">
      <a class="button-rounded d-block" href="lumenoAIPortoDetailsView.html"><i class="bi bi-arrow-left-circle-fill"></i> <p>Prev Work</p></a>
      <a class="button-rounded d-block" href="cooworkaPortoDetailsView.html"><p>Next Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
    </div>

    <div id="more-project-list" class="content">
      <h3 data-scrolly-down="fadeInBottom" data-scrolly-top="fadeIn"><span class="main-color" style="font-weight: 800">//</span> Dive Into More Projects</h3>
      <div class="porto-list" data-scrolly-down="fadeInBottom" data-scrolly-top="fadeIn">
        <div class="porto-card">
          <a href="chamelurePortoDetailsView.html">
            <img src="../../Assets/porto/Chamelure/Chamelure Cover.webp" alt="">
          </a>
          <div class="porto-detail">
            <h4>Chamelure</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> UIKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Combine</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> LottieKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SpriteKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> GameplayKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftCharts</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftData</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CloudKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AVFoundation</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CoreML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Vision</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CreateML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode Cloud</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XcodeGen</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="chamelurePortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="lumenoAIPortoDetailsView.html">
            <img src="../../Assets/porto/Lumeno AI/Lumeno AI Cover.webp" alt="">
          </a>
          <div class="porto-detail">
            <h4>Lumeno AI</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> UIKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Firebase</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> FirebaseCrashlytics</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> FirebaseAnalytics</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Combine</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftData</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Amplify</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AWSCognitoAuth</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AWSS3Storage</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Network</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> PDFKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> PencilKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftMath</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Google Analytics</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Google Tag Manager (GTM)</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Artificial Intelligence</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="lumenoAIPortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="cooworkaPortoDetailsView.html">
            <img src="../../Assets/porto/Cooworka/Cooworka Cover.webp" alt="">
          </a>
          <div class="porto-detail">
            <h4>Cooworka</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CloudKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AuthenticationServices</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> MapKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CoreLocation</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Combine</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="cooworkaPortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="wanDrawPortoDetailsView.html">
            <img src="../../Assets/porto/WanDraw/WanDraw Cover.webp" alt="">
          </a>
          <div class="porto-detail">
            <h4>WanDraw</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SwiftUI</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> UIKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> ARKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> SceneKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="wanDrawPortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="vocaloomPortoDetailsView.html">
            <img src="../../Assets/porto/Vocaloom/Vocaloom Cover.webp" alt="">
          </a>
          <div class="porto-detail">
            <h4>Vocaloom</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Swift</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> UIKit</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Combine</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AVFoundation</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Vision</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> AVFAudio</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XcodeGen</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> XCode</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="vocaloomPortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="elearningBSLCPortoDetailsView.html">
            <img src="../../Assets/porto/E-Learning BSLC/E-Learning BSLC Cover.webp" alt="">
          </a>
          <div class="porto-detail">
            <h4>E-Learning Binus Student Learning Community</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> HTML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CSS</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> PHP</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="elearningBSLCPortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="kkpSutopoInsjaPortoDetailsView.html">
            <img src="../../Assets/porto/KKP Sutopo Insja/KKP Sutopo Insja Cover.webp" alt="">
          </a>
          <div class="porto-detail">
            <h4>KKP Sutopo Insja</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> HTML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CSS</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Wordpress</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Elementor</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="kkpSutopoInsjaPortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>

        <div class="porto-card">
          <a href="kapSutopoInsjaPortoDetailsView.html">
            <img src="../../Assets/porto/KAP Sutopo Insja/KAP Sutopo Insja Cover.webp" alt="">
          </a>
          <div class="porto-detail">
            <h4>KAP Sutopo Insja</h4>
            <div class="porto-skill">
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> HTML</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> CSS</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Wordpress</p>
              <p class="skill-developer"><i class="bi bi-file-earmark-code-fill developer-color"></i> Elementor</p>
              <p class="skill-designer"><i class="bi bi-brush-fill designer-color"></i> Figma</p>
            </div>
            <p></p>
            <a class="button-rounded" href="kapSutopoInsjaPortoDetailsView.html"><p>View Work <i class="bi bi-arrow-right-circle-fill"></i></p></a>
          </div>
        </div>
      </div>
    </div>


    <div class="content text-center" id="contact-me" data-scrolly-down="fadeInTop" data-scrolly-top="fadeInTop">
      <h2>Get in touch</h2>
      <p style="margin: 0 0;">For business inquiry please send email to</p>
      <a href="mailto: sherlyphangestu.work@gmail.com" target="_blank">sherlyphangestu.work@gmail.com</a>
    </div>

    <footer class="text-center">
      <div class="social-media">
        <a href="mailto: sherlyphangestu.work@gmail.com" target="_blank">
          <i class="bi bi-envelope-fill"></i>
        </a>
      </div>

      <div class="social-media">
        <a href="https://www.linkedin.com/in/sherly-phangestu/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </div>

      <div class="social-media">
        <a href="https://github.com/sherlyphangestu" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </div>
      
    </footer>
    <!-- Script -->
    <!-- Scrolly.js (cssanimation.io) -->
    <script type="text/javascript" src="https://rawcdn.githack.com/yesiamrocks/scrolly.js/2a3d10b8065c42ad000859cf38ef55e6fff60973/scrolly.min.js"></script>
    <script>
      window.onload = function() {
        scrolly();
      }; 
    </script>
  </body>
</html>